
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar {
    display: inline;
}
body {
    
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
  }
#HeaderAbout{
color: blue;
}
#img1 {
    width: 120px;
    float: left;
  }
  #img2 {
    margin-right: 25px;
 
    float: center;
    font-style: italic;
  }
#p1{
    margin-right: 5px;
    width: 400px;
    float: right;
    font-style: italic;
}